@font-face {
  font-family: 'Regular';
  font-weight: normal;
  font-style: normal;
  src: url('./Regular-RegularWEB.woff') format('woff'),
    url('./Regular-RegularWEB.woff2') format('woff2'),
    url('./Regular-Regular.otf') format('otf');
}

/* @font-face {
  font-family: 'Regular';
  font-style: italic;
  font-style: normal;
  src: url('./Regular-RegularItalicWEB.woff') format('woff'),
    url('./Regular-RegularItalicWEB.woff2') format('woff2'),
    url('./Regular-RegularItalic.otf') format('otf');
} */

@font-face {
  font-family: 'Regular';
  font-weight: 600;
  font-style: normal;
  src: url('./Regular-SemiboldWEB.woff') format('woff'),
    url('./Regular-SemiboldWEB.woff2') format('woff2'),
    url('./Regular-Semibold.otf') format('otf');
}

@font-face {
  font-family: 'Regular';
  font-weight: bold;
  font-style: normal;
  src: url('./Regular-BoldWEB.woff') format('woff'),
    url('./Regular-BoldWEB.woff2') format('woff2'),
    url('./Regular-Bold.otf') format('otf');
}
